# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
crash.log

# Secrets
.env
*.pem
*.key
credentials
credentials.*

# Python
__pycache__/
*.pyc
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
